@use "./global/variables" as glob;


//HEADER//

.header {
  background-color: #000;
}
/* Definindo um layout de grade basico */
.nav__grid-container {
    background-color: #0000;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 3 colunas com largura igual */
    grid-gap:0; /* espaco de 10px entre as celulas */
    width: 100%;
    height: 100vh;
  
}
  /* Estilizando as celulas da grade */
.grid-item {
    position: relative;
    background-color: black;
    padding: 40px 0;
    text-align: center;

     & a {
        color: #fff;
        cursor: pointer;

        &:hover {
            color: glob.$color1;

        }
     }

    
  }

.home__title,
.cliente__title,
.sms__title,
.lista__title,
.usuario__title,
.definicoes__title,
.sair__title
 {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  bottom: 10px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 100;
   
}
.usuario__title,
.definicoes__title {
  display: block;
  width: 100%;

}

.sair__title {
  font-family: "Inter", sans-serif;
  margin-bottom: 45%;
}



.menu h1 {
  display: block;
  text-align: center;
  text-indent: -50px;
}

  .menu__btn {
    display: block;
    width:60px;
    height: 43px;
    float: left;
    background-color: glob.$color1;
    cursor: pointer;

    & img {
      margin-top: 2px;
      margin-left: 19px;
      margin-right: 19px;
      background-color: glob.$color1;
    }

  }


.menu__nav {
 
  display: none;
}

.menu__nav-div {
  background-color: #fff;
  width: 100%; //responsive based on size of screen
  margin: 0 auto;
  border: none;
}

.show-menu {
  display: block;
  animation: slide-in 0.15s;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


#menu__xmark {
  display: none;
}
